/* Căn cơ bản cho toàn bộ app
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Style cho thẻ profile-card */
/* .profile-card {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
}

.profile-card h2 {
  text-align: center;
  margin-bottom: 20px; */
  /* font-size: 24px; */
/* }*/ 
